<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>QuickShow</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>cn.chiproad.QuickShow</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuickShow</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>110</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>QuickShow 需要蓝牙权限以检测已连接耳机与外设的电量状态。</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>QuickShow 需要日历权限以在悬浮面板中向您展示即将到来的日程会议。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>QuickShow 需要日历权限以在悬浮面板中向您展示即将到来的日程会议。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>QuickShow 需要定位权限以读取当前连接的 Wi-Fi 名称 (SSID)。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>QuickShow 需要定位权限以读取当前连接的 Wi-Fi 名称 (SSID)。</string>
	<key>NSLocationUsageDescription</key>
	<string>QuickShow 需要定位权限以读取当前连接的 Wi-Fi 名称 (SSID)。</string>
</dict>
</plist>
